.header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 2rem
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

